{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'accounting/style.css' %}"/>

<div id=content>
<h1>Customers</h1>
</div>
<br>
<div id=button>
<button>
  <a href="{% url 'accounting:newBill' %}">New Bill</a>
</button>
<button>
  <a href="{% url 'accounting:newPayment' %}">New Payment</a>
</button>
</div>
<br>
<div id=list>
{% if latest_CustID %}
  <ul>
  {% for id in latest_CustID %}
    <li>
      <a href="{% url 'accounting:detail' id.CustID %}">{{ id.CustName }}</a>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {{ id.AddState }}
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      {{ id.Email }}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p> No customer id is available</p>
{% endif %}
</div>
