{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'accounting/style.css' %}"/>

<div id=header>
<h1>Create a new payment</h1>
</div>
{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<br>
<div id=form>
<form action="{% url 'accounting:save_payment' %}" method="post">
  {% csrf_token %}
  <div id=date>
    Date: <br>
    <input type="date" name="date" id="date"/><br>
  </div>
  <div id=customer>
  Customer: <br>
  <select name="customer_info">
  {% for customer in cust_id %}
    <option name="customer" id="customer{{forloop.counter}}" value="{{ customer.CustID}}">
      {{ customer.CustName }}</option>
  {% endfor %}
  </select>
  </div>
  <div id=amount>
  Amount: <br>
  <input type="text" id="Amount" name="Amount"/>
  <br>
  </div>
  <div id=date>
  <input type="submit" value="Create" />
  </div>
</form>
</div>
